.footerContentContainer {
  z-index: 2;
  width: 100%;
  background-color: #242424;

  bottom: 0;
}

.footerInformation {
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: auto auto;
}

.footerInformationLine1 {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}

.title {
  color: #fff;
  margin-left: 3rem;
  font-family: "maison-neue-mono", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  opacity: 0.5;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.detail {
  color: #fff;
  margin-left: 3rem;
  font-family: "maison-neue-mono", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.phoneNumber {
}

.email {
}

.socialMedia {
  color: #fff;
  text-decoration: none;
  padding-bottom: 20px;
}
