.background {
  display: block;
  padding-top: 30%;
  padding-bottom: 45%;
  background: #1f1f1f;
}

::-webkit-scrollbar {
  display: none;
}

.mainText {
  text-align: center;
  font-size: 10rem;
  color: #fff;
  transition: all 0.2s ease-in;
}
